
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.main-container {
    height: 100%;
    display: flex;
}

.panel {
    background-color: lightcyan;
    overflow-y: scroll;
    /* display: inline-block; */
    width: 250px;
    height: 100%;
    font-size: 12px;
    padding: 10px;
}

.map {
    height: 100%;
    /* display: inline-block; */
    width: calc(100% - 250px);
}

@media screen and (max-width: 600px) {
    #panel {
        display: none;
    }
};