
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.main-container {
    height: 100%;
    display: flex;
}

td {
    height: 30px;
    padding: 20px;
    font-size: 14px;
    font-family: sans-serif;
    /* color: #bbb; */
    border-bottom: 1px solid #777;
}

tr {
    text-align: left;
    
}

tr:hover {
    background-color: #222;
}

.panel {
    background-color: #333333;
    overflow-y: scroll;
    /* display: inline-block; */
    width: 250px;
    height: 100%;
    /* font-size: 12px; */
    /* padding: 15px; */
}

.map {
    height: 100%;
    /* display: inline-block; */
    width: calc(100% - 250px);
}

@media screen and (max-width: 600px) {
    #panel {
        display: none;
    }
};